<?php
require_once '../../jquerycms/config.php';
require_once '../lib/admin.php';

$msg = isset($_GET['msg']) && $_GET['msg'] == 1 ? fEnd_MsgString("O registro foi salvo com sucesso", 'success', "O que mais você deseja fazer?<br /><a href='inserir.php'>Inserir um novo registro</a><br/><a href='index.php'>Voltar para lista</a>") : "";
Fncs_ValidaQueryString("cod", "index.php");

$registro = new obj$tabelaFistUpper#($Conexao, true);
$registro->loadByCod($_GET["cod"]);

$editarCtrls#

if (count($_POST) > 0) {
    try {
        $editarValoresPost#
        
        $exec = $registro->Save();

        if ($exec && $adm_tema != 'branco') {
            $msg = fEnd_MsgString("O registro foi salvo com sucesso", 'success', "O que mais você deseja fazer?<br /><a href='inserir.php'>Inserir um novo registro</a><br/><a href='index.php'>Voltar para lista</a>");
        } else {
            $msg = fEnd_MsgString("O registro foi salvo." . fEnd_closeTheIFrameImDone('$tabela#', $registro->getCod()), 'success');
        }
    } catch (jquerycmsException $exc) {
        $msg = fEnd_MsgString("Ocorreram problemas ao editar o registro.", 'error', $exc->getMessage());
    }
}

$form = new autoform2();
$form->start("cadastro","","POST");
    
$formfields#
    
$form->send_cancel("Salvar", $cancelLink);
$form->end();

$pageVars = array('pageTitle' => __('table_$tabela#'), 'pageAction' => "Editar", "nav-breadcrumbs" => array(__('table_$tabela#') => "index.php"));
?><!doctype html>
<html class="fixed sidebar-left-xs">
    <head>
        <?php include '../lib/masterpage/head.php'; ?>
        <?php echo $form->getHead(); ?>
    </head>
    <body>   
        <section class="body">
            <?php include '../lib/masterpage/header.php'; ?>

            <div class="inner-wrapper">
                <?php include '../lib/masterpage/navbar.php'; ?>

                <section role="main" class="content-body">
                    <?php include '../lib/masterpage/page-header.php'; ?>

                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel main-panel-pg">
                                <?php include '../lib/masterpage/panel-header.php'; ?>

                                <div class="panel-body">
                                    <?php echo $msg; ?>
                                    <?php echo $form->getForm(); ?>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>

            <?php include '../lib/masterpage/footer.php'; ?>
        </section>
    </body>
</html>