
    <!--$tabela#: $campovigula#-->
    <h1>$tabelaFistUpper# Lista</h1>

    <div class="admin_filtro">
        <form>
            <label for="filtraList">Busca rápida</label>
            <input type="text" id="filtraList" onfocus="aoSetarFoco(this.value);" value="Buscar...">
        </form>
    </div>

    <div id="registros">
            <div id="registros_head" style="border: 1px solid #F2F2F2;background: #F1F1F1;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding: 10px;font-size: 12px;margin: 10px;">
                    <p>Em ordem serão exibidos os campos $campovigula#.</p>
                    <p>Para alterar essa página edite os seguintes arquivos: $tabela#AllHead.html, $tabela#All.html e $tabela#AllFooter, que estão na pasta /lib/templates/. <a href='http://jquerycms.areadigitalbrasil.com.br/designers/layouts.php' target='_blank'>Sobre layouts</a></p>
                    <p>Ainda é interessante saber que os titulos dos campos das tabelas estão armazenados em /lib/alias.php. <a href='http://jquerycms.areadigitalbrasil.com.br/tutoriais/2-editando-os-alias.php' target='_blank'>Editando o alias</a></p>
            </div>

