<?php
require_once 'jquerycms/config.php';

if (!isset($_REQUEST['$primarykey#'])) {
header("Location: $tabela#.php");
}

$obj = new obj$tabelaFistUpper#($Conexao);
$obj->loadBy$primarykeyU#($_REQUEST['$primarykey#']);
?><!DOCTYPE HTML>
<html>
    <head>
        <title><?php echo __('table_$tabela#'); ?> - # <?php echo $obj->get$primarykeyU#(); ?></title>

        <?php include 'masterpage/head.php'; ?>
    </head>
    <body>        
        <?php include 'masterpage/header.php'; ?>

        <div class="container" style="margin-top: 50px;">
            <section id="lista">
                <div class="page-header">
                    <h1><?php echo __('table_$tabela#'); ?> <small>Detalhes</small></h1>
                </div>

                <ul class="jquerydetalhe">
                    $fieldvalsDetalhe#                    
                </ul>

                <div class="clearfix"></div>
            </section>

            <?php include 'masterpage/footer.php'; ?>
        </div>
    </body>
</html>