<?php

require_once "base/fbase$tabelaFistUpper#.php";

class obj$tabelaFistUpper# extends fbase$tabelaFistUpper# {
// <editor-fold defaultstate="collapsed" desc="Relacoes Inversas">    
$fbaseRelInversas#
// </editor-fold>

    /*public function getRewriteUrl($fullUrl = false) {
        $cod = $this->getCod();
        $titulo = toRewriteString($this->getTitulo());

        $link = "$tabela#/$titulo/$cod/";

        $lang = internacionalizacao::getCurrentLang();
        if ($lang != "pt-br") {
            $url = $lang . "/" . $url;
        }
        
        if ($fullUrl)
            return ___siteUrl . $link;
        else
            return "/" . $link;
    }*/
   
}