        
</head>

<body>

    <div class="container_12">
        <div id="head-inner">
            <div class="logo">
                <a href="/adm/">
                    <img alt="image" src="/adm/lib/temas/admin/images/loogo.jpg" style="margin-top: 15px;" border="0">
                </a>
            </div>

            <div class="div_menu" align="center">
                <ul class="sf-menu" style="" id="menu">
                    <li><a href="/adm/">Admin</a></li>
                    $links#
                </ul>
            </div>

            <div class="logout">
                <ul class="sf-menu">
                    <li><a href='/adm/logout.php'>Logout</a></li>
                    <li class="last"><a href="/" target="_blank">Acessar o site</a></li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <div class="grid_9 cnt" id="left" style="border: 1px solid #A6ABAD;-webkit-box-shadow: rgba(0,0,0,.15) 0 1px 3px;-moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;box-shadow: rgba(0,0,0,.15) 0 1px 3px;box-shadow: rgba(0,0,0,.15) 0 1px 6px url(0/IE9);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;_margin-left: expression(this.previousSibling==null?'0':'8px');background-color: white;padding: 20px;margin-bottom: 30px;min-height: 310px;margin-top: 30px;">
            <h1>$pageTitle</h1>
						