<?php
require_once '../../jquerycms/config.php';
require_once '../lib/admin.php';

obtemFiltros($_SERVER['REQUEST_URI']);
$msg = "";

$filtraList = isset($_GET['filtraList']) && $_GET['filtraList'] ? $_GET['filtraList'] : "";
$paginaAtual = isset($_REQUEST['page']) ? $_REQUEST['page'] : 0;

$where = '';
if ($filtraList) {
//$where = new dataFilter(db$tabelaFistUpper#::_$primarykey#, 0, dataFilter::op_different);
$where = new dataFilter(db$tabelaFistUpper#::_$campo2#, $filtraList, dataFilter::op_likeMatches);
}

$orderBy = new dataOrder(db$tabelaFistUpper#::_$primarykey#, 'asc');

$pager = new dataPager($paginaAtual, 15, $Conexao, '$tabela#', $where);
$dados = db$tabelaFistUpper#::ObjsListLeft($Conexao, $where, $orderBy, $pager->getLimit());

$form = new autoform2();
$form->start("form-filtro", "", "GET", array('class' => 'form-inline'));
$form->text("Busca rapida", "filtraList", $filtraList);
$form->send_cancel("<i class='fa fa-filter'></i> Filtrar", "index.php?clear=1", array('btn2class' => 'btn-default btn-xs'), "Limpar Filtros");
$form->end();

$pageVars = array('pageTitle' => __('table_$tabela#'), 'pageAction' => "Resultado da Consulta", "nav-breadcrumbs" => array());
?><!doctype html>
<html class="fixed sidebar-left-xs">
    <head>
        <?php include '../lib/masterpage/head.php'; ?>
        <?php echo $form->getHead(); ?>
    </head>
    <body>   
        <section class="body"> 
            <?php include '../lib/masterpage/header.php'; ?>

            <div class="inner-wrapper">
                <?php include '../lib/masterpage/navbar.php'; ?>

                <section role="main" class="content-body">
                    <?php include '../lib/masterpage/page-header.php'; ?>

                    <div class="row">
                        <div class="col-md-12">
                            <?php include "form/page-btn-toolbar-default.php"; ?>
                            <?php include "../lib/masterpage/page-search-form.php"; ?>

                            <section class="panel">
                                <?php include '../lib/masterpage/panel-header.php'; ?>
                                <?php include './form/panel-body.php'; ?>
                            </section>
                        </div>
                    </div>
                </section>
            </div>

            <?php include '../lib/masterpage/footer.php'; ?>
        </section>
    </body>
</html>